.calculator {
  display: grid;
  grid-template-columns: repeat(4, 3em);
  grid-auto-rows: 3em;
  grid-gap: 1em;
}

.calculator input {
  grid-column: 1 / 5;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
}

button {
  font-weight: bold;
}

button:last-child {
  grid-column: 1 / 5;
}