a {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  font-weight: bold;
  color: green;
}

/*.purple {
  color: purple;
}*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}